# ========== 构建目录 ==========
/build/
/bin/
/obj/
/dist/
/.cache/
/debug/

# ========== 临时文件 ==========
*~
*.swp
*.swo
*.tmp
.fuse_hidden*  # FUSE 相关临时文件

# ========== 其他 ==========
.depend    # 依赖文件
.autotools # autoconf/automake 生成的文件